# PrimeUI Community/Commercial license key required by PrimeVue 5.
# Keep the real key in .env.local (git-ignored). Production images pass it as the
# VITE_PRIMEUI_LICENSE build argument.
VITE_PRIMEUI_LICENSE=
